* {margin: 0; padding: 0;}
.invisible{
	display:none;
	color: blue;
}
#hideChat{
	position:fixed;
	bottom:0;
	right: 17px;
	height:25px;
	width:398px;
	border-width: 2px; 
	border-style:double; 
	border-color:black; 
	
}

span{
	display: table;
}
p{
	
}
#mainDiv{
	position:absolute;
	bottom: 0; 
	right: 0;
	width:400px;
	height:550px;
}
table{
	border-radius:0;
	position:fixed;
	bottom: 0; 
	right: 20px;
	width:400px;
	height:500px;
	border-width: 3px; 
	border-style:solid; 
	border-color:black; 
	background-image:url('../img/background.jpg');
	transition-duration: 0.9s;
}
table.hide{
	bottom:-520px;
}
tr.tableHeader{
	height:12px;
}
#indicator{
	height:12px;
}
tr.input{
	height:150px;
	padding:0px;
}
td.input{
	padding:0px;
}
td.input input{
	margin: 3px 0;
	height:55px;
	width:398px;
	padding-left:12px;
	padding-right:12px;
	border-width: 2px; 
	border-style:double; 
	border-color:black; 
}
td.input input.text{

	background-color:#DEB887;
	width:370px;

}
.divChat{
	margin:3px;
	padding:12px;
	height:300px; 
	text-align: center;
	overflow-x: auto;
	
}

.cl{
	float:right;
	clear: both;
	text-align:right;
	color:green;
	padding:12px;
	background-color:white;
	border-radius:12px;
	margin-top:23px;
}
.adm{
	float:left;
	clear:both;
	margin-top:23px;
	text-align:left;
	color:red;
	padding:12px;
	width:auto;
	background-color:white;
	border-radius:12px;
}
h4.adm{
width:90%;
}


::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}

.chatNotice{
	width:45px;
	height:33px;
	background:green;
	margin:7px;
	border: solid yellow 1px;
}

.userDialog{
	width:100%;
	height: 300px;
	background-color:wheat;
}